<mat-card class="mb-2">
    <mat-card-title>Store Quantity</mat-card-title>
</mat-card>
<app-data-table 
[columnHeader]="TableColumns"
[hasActionsColumn]="true"
[tableData]="storeData$"
[hasSearch]="true"
[serverPagination]="false"
[hasHighlighted]="true"
[hasCustomStyle]="false"
[allowPagination]="true"
[loading]="loading$"
>
<ng-template #actions let-data="data">
    <div class="action-icons">
      <a><button mat-raised-button color="primary" class="example-button-row" [matMenuTriggerFor]="actions"
          style="border-radius: 50px;min-width: auto;;outline: none;">
          Actions
        </button>
        <mat-menu #actions="matMenu">
          <mat-nav-list>
            <!-- <a mat-list-item routerLinkActive="list-item-actve">
              <i class="fa fa-eye"></i>
              &nbsp;
              <span>View Details</span>
            </a> -->
            <a mat-list-item routerLinkActive="list-item-actve"
            (click)="onEdit(data)"
            >
              <i class="fa fa-edit"></i>
              &nbsp;
              <span>Edit Data</span>
            </a>
          </mat-nav-list>
        </mat-menu>
      </a>
    </div>
  </ng-template>
</app-data-table>
